// Core variables and mixins
@import "minireset";
@import "variables.scss";
@import "bootstrap-overrides";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
// Components
[class^="icon-"]{
  display: inline-flex;
  stroke: currentColor;
  stroke-width: 1;
  stroke: currentColor;
  fill: currentColor;
}
.icon.is-medium{
	&.social-icons{
		margin: 0.5rem;
	}
	.icon{
		height: 2rem;
		width: 2rem;
	}
}
.social-icons {
    width: 3rem;
    height: 3rem;
    background: #495057;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    .icon{
    	fill: $white;
    	width: 1.5rem;
    	height: 1.5rem;
    }
}
.social-profile-link:hover{
.social-icons{
	&.twitter{
		color: #55acee;
		.icon{
			fill: #55acee;
		}
	}
	&.linkedin{
		color: #0077B5;
		.icon{
			fill: #0077B5;
		}
	}
	&.github{
		color: #333;
		.icon{
			fill: #333;
		}
	}
}	
}
/* header icons section css */
.contact-icons{
	margin-bottom: 1rem;
	&__list{
		display: inline-flex;
	}
	&__iconContainer{
		a{
			text-decoration: none;
		}
	}
	&__icon{
		.icon{
			height: 1.5rem;
			width: 1.5rem;
		}
	}
}
/* header icons section css end */
.article-container{
	margin-bottom: 1rem;
	line-height: 1.5;
}
.list-icons{
	span{
		.icon{
			max-width: 50px;
		}
	}

}

.heading{
	margin-bottom: 0.5rem;
}
.subheading{
	margin-bottom: 0.5rem;
}
.block-title{
	margin-bottom: 1rem;
}