// Core variables and mixins
@import "variables.scss";
@import "bootstrap-overrides";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
// Components
.svg-icon{
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;	
}
[class^="icon-"]{
  display: inline-flex;
  stroke: currentColor;
  stroke-width: 1;
  stroke: currentColor;
  fill: currentColor;
}
.icon.is-medium{
	&.social-icons{
		margin: 0.5rem;
	}
	.icon{
		height: 2rem;
		width: 2rem;
	}
}
.social-icons {
    width: 3rem;
    height: 3rem;
    background: #495057;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    .icon{
    	fill: $white;
    	width: 1.5rem;
    	height: 1.5rem;
    }
}
.social-profile-link:hover{
.social-icons{
	&.twitter{
		color: #55acee;
		.icon{
			fill: #55acee;
		}
	}
	&.linkedin{
		color: #0077B5;
		.icon{
			fill: #0077B5;
		}
	}
	&.github{
		color: #333;
		.icon{
			fill: #333;
		}
	}
}	
}
