<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.css">  
     <link rel="stylesheet" type="text/css" href="/style.css">   
    </head>
    <body class="blog markdown-body">
        <h2>{{ pageTitle }}</h2>
 		{{ content | safe }}
    </body>
</html>