---
layout: base.njk
title: About Me
templateClass: about-page
---

<section class="aboutPage">
  <heading>
    <h1>About Me</h1>
  </heading>
</section>  

<section>
  <article>
    <div>
      <div class="aboutPage-imageProfile">
        <figure>
          <img src="">
        </figure>
      </div>
    </div>
    <div>
      <div>
        <h3>Atiquzzaman Soikat</h3>
        <span>Software Engineer</span>
        <p>
          Hello, For over a decade, I've helped businesses to craft honest, emotional experiences through strategy, brand development, graphic design, and web design.
        </p>
      </div>
      <div>
        <h3>Job Experience</h3>
        <div>
          <section>
            <div class="left"> 2018 - Present </div>
            <div class="right">
              Chief Technology Officer
              <span>ReformedTech</span>
            </div>
          </section>
          <section>
            <div class="left"> 2018 - Present </div>
            <div class="right">
              Chief Technology Officer
              <span>ReformedTech</span>
            </div>
          </section>
          <section>
            <div class="left"> 2018 - Present </div>
            <div class="right">
              Chief Technology Officer
              <span>ReformedTech</span>
            </div>
          </section>
          <section>
            <div class="left"> 2018 - Present </div>
            <div class="right">
              Chief Technology Officer
              <span>ReformedTech</span>
            </div>
          </section>
        </div>
      </div>  
      <div>
        <h3>Educations</h3>
        <div>
          <section>
            <div class="left"> 2008 - 2012 </div>
            <div class="right">
              Bachelor in computer science and software engineering
              <span>AIUB</span>
            </div>   
          </section>
          <section>
            <div class="left"> 2008 - 2012 </div>
            <div class="right">
              Bachelor in computer science and software engineering
              <span>AIUB</span>
            </div>   
          </section>
        </div>
      </div>
    </div>
    <div>
      <h3>Experties</h3>
      <div>
        HTML5, JS, TS, Node.js, React.js, Svelte.js, Vue.js
      </div>
    </div>
    <div>
      <h3>Certification</h3>
      <div>
        Freecodecamp
      </div>
    </div>
  </article>
</section>  