---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contact - Atiquzzaman Soikat">
  <!-- Profile Image -->
  <div class="mb-8">
    <img
      src="https://avatars.githubusercontent.com/u/1593663?v=4"
      alt="Profile picture"
      class="w-40 h-40 rounded-full mx-auto object-cover"
    />
  </div>

  <!-- Profile Info -->
  <h1 class="text-4xl font-bold mb-2">Md. Atiquzzaman Soikat</h1>
  <p class="text-gray-600 mb-6">
    Lifelong learner, Tech Enthusiast, Geek for life
  </p>

  <!-- Tech Stack -->
  <div class="flex justify-center gap-2 flex-wrap mb-12">
    <span class="text-red-500">#JavaScript</span>
    <span class="text-blue-500">#TypeScript</span>
    <span class="text-blue-600">#React</span>
    <span class="text-orange-500">#Svelte</span>
    <span class="text-green-500">#Vue</span>
    <span class="text-purple-500">#Jamstack</span>
    <span class="text-green-600">#Node.js</span>
  </div>

  <!-- Introduction -->
  <div class="space-y-6 text-gray-700">
    <h3 class="text-2xl font-medium mb-4">Hi! 👋</h3>

    <p>
      I am currently working as a Lead Developer(Frontend) at Skipper
      Hospitality. I am also a co-founder of ReformedTech and currently serving
      as the CTO of the company.
    </p>

    <p>
      I have been dabbling on the web for more than a decade. JavaScript is the
      language of the web, also my primary language of choice for programming. I
      also have experience in PHP, Python, Ruby, and Java. My primary choice of
      frontend frameworks are React and Vue.js, although I have recently fallen
      in love with Svelte
    </p>

    <p>
      Now a days my focus is on Frontend Infrastructure, tooling and developig
      tools to make development experience smoother. I am a huge fan of the
      Jamstack architecture. Developing performant, user friendly and scaleable
      websites is a passion of mine.
    </p>

    <p>
      While not programming I enjoy video games, cooking and spending time with
      my friends and family.
    </p>
  </div>
  <div
    class="m-auto text-center mt-4 justify-center flex flex-col items-center w-full space-x-5 space-y-8 lg:space-y-0 lg:flex-row"
  >
    <a
      href="https://www.linkedin.com/in/atiquzzaman-soikat/"
      aria-label="Connect on LinkedIn"
      class="inline-flex items-center justify-center px-6 py-6 text-xl font-black text-center text-white shadow-xl xl:px-12 xl:text-2xl lg:w-auto hover:bg-green-600 bg-blue-600 rounded-none rounded-xl"
    >
      Connect on LinkedIn
      <svg
        class="w-6 h-6 ml-2"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
        ></path>
      </svg>
    </a>
    <a
      href="SoikatResume.pdf"
      aria-label="View Resume"
      class="inline-flex lg:pl-10 items-center text-lg text-gray-600 underline transition-colors duration-200"
      >View Resume</a
    >
  </div>
</MainLayout>
