<!-- Footer -->
<footer class="bg-gray-900  text-white py-8 mt-12">
  <div class="max-w-6xl mx-auto flex justify-center space-x-8">
    <a href="https://twitter.com/soikat" class="hover:text-green-600">Twitter</a
    >
    <a href="https://github.com/azs06" class="hover:text-green-600">GitHub</a>
    <a
      href="https://stackoverflow.com/users/946131/azs06"
      class="hover:text-green-600">StackOverflow</a
    >
  </div>
</footer>
