---
const today = new Date();
---

<!-- Footer -->
<footer class="bg-black text-white py-4 mt-12">
  <div class="max-w-6xl mx-auto flex justify-center space-x-8">
    <a href="https://twitter.com" class="hover:text-green-400">Twitter</a>
    <a href="https://github.com" class="hover:text-green-400">GitHub</a>
    <a href="https://stackoverflow.com" class="hover:text-green-400"
      >StackOverflow</a
    >
  </div>
</footer>
<style>

</style>
