---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="bg-white shadow-md p-4">
  <nav class="flex flex-wrap items-center justify-between max-w-6xl mx-auto">
    <div class="flex items-center space-x-2">
      <img src="/logo.svg" alt="Logo" class="w-8 h-8" />
      <h2 class="text-lg font-semibold">
        <a href="/">{SITE_TITLE}</a>
      </h2>
    </div>
    <div
      id="menu"
      class="hidden z-10 md:flex flex-auto flex-col justify-between md:flex-row space-y-4 md:space-y-0 md:space-x-4 absolute md:relative top-16 md:top-auto left-0 md:left-auto bg-white md:bg-transparent w-full md:w-auto shadow-md md:shadow-none p-4 md:p-0"
    >
      <div class="flex space-x-4 md:ml-auto">
        <ul class="inline header-menu">
          <li>
            <HeaderLink
              class={"hover:text-brandingColor hover:underline"}
              href="/">Home</HeaderLink
            >
          </li>
          <li>
            <HeaderLink
              class={"hover:text-brandingColor hover:underline"}
              href="/blog">Blog</HeaderLink
            >
          </li>
          <li>
            <HeaderLink
              class={"hover:text-brandingColor hover:underline"}
              href="/work">Work</HeaderLink
            >
          </li>
          <li>
            <HeaderLink
              class={"hover:text-brandingColor hover:underline"}
              href="/projects">Projects</HeaderLink
            >
          </li>
          <li>
            <HeaderLink
              class={"hover:text-brandingColor hover:underline"}
              href="/about">About</HeaderLink
            >
          </li>
        </ul>
      </div>

      <div class="flex space-x-3 social-icons">
        <a
          href="https://twitter.com/soikat"
          target="_blank"
          class="text-gray-700 hover:text-blue-500"
        >
          <span class="sr-only">Follow Soikat on X</span>
          <svg viewBox="0 0 24 24" aria-hidden="true" width="24" height="24"
            ><g
              ><path
                d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
              ></path></g
            ></svg
          >
        </a>
        <a
          href="https://github.com/azs06"
          target="_blank"
          class="text-gray-700 hover:text-gray-900"
        >
          <span class="sr-only">Go to GitHub</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
            <path
              fill="currentColor"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <button id="menu-toggle" class="md:hidden text-gray-700"> ☰ </button>
  </nav>
</header>

<style>
  @media screen and (min-width: 768px) {
    .header-menu li {
      display: inline;
    }
    .social-icons {
      margin-left: auto !important;
    }
  }
  .header-menu li {
    padding: 0.5em;
  }
</style>
<script>
  document.getElementById("menu-toggle").addEventListener("click", function () {
    document.getElementById("menu").classList.toggle("hidden");
  });
</script>
