---
interface Props {
  title?: string;
}
const { title = "Title" } = Astro.props;
---

<header class="mb-8 text-center">
  <img src="/logo.svg" alt="Logo" class="w-8 h-8 mx-auto mb-4 dark:hidden" />
  <img src="/logo-white.svg" alt="Logo" class="w-8 h-8 mx-auto mb-4 hidden dark:block" />
  <h1 class="text-3xl font-bold mb-4">{title}</h1>
</header>
