---
layout: blog.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

<heading class="blog-page-heading">
  <h2 class="blog-page-title">Blog</h2>
</heading>  
<section class="blog-page-body">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</section>
