---
layout: home.njk
eleventyNavigation:
  key: Home
  order: 1
permalink: '/'  
---
<section class="landing-page-body">
  <div class="profile-container">
      <img class="profile-image" src="https://avatars.githubusercontent.com/u/1593663?v=4">
      <div class="profile-infoBlock">
        <h2>
          Md. Atiquzzaman Soikat
        </h2> 
        <p id="typedtext">
        </p>
        <p>
        <p class="hide">
          Lifelong learner, Opensource Developer, Content Creatror
        </p>
      </div> 
      {# will implrement this https://codepen.io/azs06/pen/eYMxGmg?editors=1010 #}
      </p>
  </div>
  <div class="intro-container">
    <p><strong>Hi!</strong> 👋</p>
    <p>
      I am a <a id="designation">Frontend Engineer</a> from Dhaka, Bangladesh. Currently working as a Lead Developer(Frontend) at
      <a href="https://www.skipperhospitality.com/" target="_blank">Skipper Hospitality</a>.
    </p>
    <p>I am also a co-founder of <a href="https://reformedtech.org/">ReformedTech</a> and currently serving as the CTO of the company</p>
    <p>
      I have been dabbling on the web for more than a decade. JavaScript is the language of the web, also my primary language of choice for programming. I also have experience in PHP, Python, Ruby, and Java. 
      My primary choice of frontend frameworks are <a href="https://reactjs.org/" target="_blank">React</a> and <a href="https://vuejs.org/" target="_blank">Vue.js</a>
    </p>
    <p>
      Now a days my focus is on Frontend Infrastructure, tooling and developig tools to make development experience smoother.
      I am a huge fan of the Jamstack architecture. Developing performant, user friendly and scaleable websites is a passion of mine.</p>
    <p>
      While not programming I enjoy video games, cooking and spending time with my friends and family.
    </p>
  </div>
</section> 

<script>
// set up text to print, each item in array is new line
const designations = ['Web Developer', 'Software Engineer', 'JavaScript Engineer', 'Frontend Engineer', 'UI Engineer']
const toUseDesignation = designations[Math.round(Math.random()* designations.length)];
const designationEl = document.getElementById('designation');
if(designationEl){
  designationEl.innerHTML = toUseDesignation;
}
var aText = new Array(
toUseDesignation,
 'Lifelong learner, Opensource Developer, Content Creatror',
);
var iSpeed = 100; // time delay of print out
var iIndex = 0; // start printing array at this posision
var iArrLength = aText[0].length; // the length of the text array
var iScrollAt = 20; // start scrolling up at this many lines
 
var iTextPos = 0; // initialise text position
var sContents = ''; // initialise contents variable
var iRow; // initialise current row
 
function typewriter(destination){
 sContents =  ' ';
 iRow = Math.max(0, iIndex-iScrollAt);
 
 while ( iRow < iIndex ) {
  sContents += aText[iRow++] + '<br />';
 }
 destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
 if ( iTextPos++ == iArrLength ) {
  iTextPos = 0;
  iIndex++;
  if ( iIndex != aText.length ) {
   iArrLength = aText[iIndex].length;
   setTimeout(() => {
    typewriter(destination);
   }, 500);
  }
 } else {
  setTimeout(() => {
    typewriter(destination);
  }, iSpeed);
 }
}
typewriter(document.getElementById('typedtext'));
</script>  