---
layout: home.njk
eleventyNavigation:
  key: Home
  order: 1
permalink: '/'  
---
<section class="landing-page-body">
  <div class="profile-container">
      <a href="https://github.com/azs06" target="_blank">
        <img class="profile-image" src="https://avatars.githubusercontent.com/u/1593663?v=4">
      </a>  
      <section class="profile-infoBlock">
        <heading>
          <h2 class="heading">
            Md. Atiquzzaman Soikat
          </h2> 
        </heading>
        <div class="profile-infoBlock__heading">  
          <p class="designation" id="typedtext">Software Engineer</p>
          <span>Lifelong learner, Tech Enthuasist, Geek for life</span> 
        </div>
        
        <div class="profile-infoBlock__quote hide">
          
        </div>
        <div class="tags">
          <a>#JavaScript</a> <a>#TypeScript</a>
          <a>#React</a> <a>#Svelte</a> <a>#Vue</a>
          <a>#Jamstack</a> <a>#Node.js</a>
        </div>
      </section> 
  </div>
  <div class="intro-container blog-paragraph">
    <p><strong>Hi!</strong> 👋</p>
    <p>
      I am currently working as a Lead Developer(Frontend) at
      <a class="highlighted-anchor" href="https://www.skipperhospitality.com/" target="_blank">Skipper Hospitality</a>.
      I am also a co-founder of <a class="highlighted-anchor" href="https://reformedtech.org/">ReformedTech</a> and currently serving as the CTO of the company.
    </p>
    <p>
      I have been dabbling on the web for more than a decade. JavaScript is the language of the web, also my primary language of choice for programming. I also have experience in PHP, Python, Ruby, and Java. 
      My primary choice of frontend frameworks are <a class="highlighted-anchor" href="https://reactjs.org/" target="_blank">React</a> and <a class="highlighted-anchor" href="https://vuejs.org/" target="_blank">Vue.js</a>, 
      although I have rcently fallen in love with <a class="highlighted-anchor" href="#">Svelte</a>
    </p>
    <p>
      Now a days my focus is on Frontend Infrastructure, tooling and developig tools to make development experience smoother.
      I am a huge fan of the Jamstack architecture. Developing performant, user friendly and scaleable websites is a passion of mine.</p>
    <p>
      While not programming I enjoy video games, cooking and spending time with my friends and family.
    </p>
  </div>
</section> 

<script>
  function typewriter(destination, aText){
  // set up text to print, each item in array is new line
  var iSpeed = 100; // time delay of print out
  var iIndex = 0; // start printing array at this posision
  var iArrLength = aText[0].length; // the length of the text array
  var iScrollAt = 20; // start scrolling up at this many lines
  
  var iTextPos = 0; // initialise text position
  var sContents; // initialise contents variable
  var iRow; // initialise current row

  function execute(){
    iRow = Math.max(0, iIndex-iScrollAt);
    sContents = '';
    while ( iRow < iIndex ) {
      sContents += aText[iRow++] + '<br />';
    }
  destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos);
  if ( iTextPos++ == iArrLength ) {
      iTextPos = 0;
      iIndex++;
      if ( iIndex != aText.length ) {
      iArrLength = aText[iIndex].length;
      setTimeout(() => {
        execute();
      }, 500);
      }
    } else {
      setTimeout(() => {
        execute();
      }, iSpeed);
    }
  }
  execute();
 
}
var designations = ['Web Developer', 'Software Engineer', 'JavaScript Engineer', 'Frontend Engineer', 'UI Engineer', 'Fullstack Developer']
var toUseDesignation = designations[Math.round(Math.random()* designations.length)] || designations[0];

if(toUseDesignation){
  var textArray = [toUseDesignation];
  const el = document.getElementById('typedtext');
  function animatedFn(){
    typewriter(el, textArray);
    /*setTimeout(()=> {
      requestAnimationFrame(animatedFn);
    }, 5000)*/
  }
  requestAnimationFrame(animatedFn)
 
}
</script>  