<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.css"> 
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    {% if build.env == "production" %}
        {# Add any CSS from the main script #}
        {% viteLinkStylesheetTags "scripts/index.js" %}
        {% viteLinkModulePreloadTags "scripts/index.js" %}
    {% endif %}
  </head>
  <body class="layout blog">
    <header>
     {#  <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1> #}
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main {% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer></footer>
    {% if build.env == "production" %}
      {# We must read the production scripts from the Vite manifest. We defer that logic to a custom shortcode #}
      {% viteScriptTag "scripts/index.js" %}
      {% viteLegacyScriptTag "vite/legacy-polyfills" %}
      {% viteLegacyScriptTag "scripts/index-legacy.js" %}
    {% else %}
        <script type="module" src="http://localhost:3000/@vite/client"></script>
        <script type="module" src="http://localhost:3000/scripts/index.js"></script>
    {% endif %}
  </body>
</html>
