---
layout: base.njk
templateClass: blog-post
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
<div class="markdown-body post-body">
{{ content | safe }}
</div>
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul class="post-nav">
  {%- if nextPost %}<li>Next: <small><a href="{{ nextPost.url | url }}">{{ nextPost.data.pageTitle }}</a></small></li>{% endif %}
  {%- if previousPost %}<li>Previous: <small><a href="{{ previousPost.url | url }}">{{ previousPost.data.pageTitle }}</small></a></li>{% endif %}
</ul>
{%- endif %}
