---
// src/layouts/MainLayout.astro
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import GoogleTag from "../components/GoogleTag.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <GoogleTag />
  </head>
  <!-- Google tag (gtag.js) -->

  <body class="transition-colors duration-300">
    <Header />
    <main class="max-w-6xl mx-auto px-4 py-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>
